:root {
	--text-primary: #000000;
	--text-secondary: #ffffff;
	--text-action: #FFF447;
	--bg-primary: #ffffff; /* #1B2F3C;*/
	--bg-secondary: #588B81;
	--bg-tertiary: #033756;
	--bg-yellow: #FFF670;
	--color-white: #ffffff;
	--color-dark:  #1B2F3C;
	--color-green: #588B81;
	--color-teal: #65807A;
	--color-action: #FFF447;
	--color-danger: #EB5757;
	--color-danger-hover: #CC4C4C;
	--color-grey: #f1f1f1;
	font-family: Roboto, sans-serif;
	font-size: 100%;
}

h1 {
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}	

h3 {
	font-size: 1.953rem;
}	

h4 {
	font-size: 1.563rem;
}	

h5 {
	font-size: 1.25rem;
}

/* p {
	font-size: 1rem;
} */

a { 
	font-size: inherit;
	color: inherit;
}

body {
	margin: 0;
	line-height: 1.5;
	color: #333;
}

body::-webkit-scrollbar {
	width: 0.8rem;
}

body::-webkit-scrollbar-track {
	background: var(--color-dark);
}

body::-webkit-scrollbar-thumb {
	background: var(--color-action);
}

input, textarea, button, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
	font-family: Poppins, Roboto, sans-serif;
}